#!/usr/bin/make -f


.PHONY: override_dh_auto_configure

override_dh_auto_configure:
	# backward-cpp not in Bionic
	dh_auto_configure -- \
	    -DUSE_SYSTEM_BACKWARDCPP=OFF \
	    -DCMAKE_BUILD_TYPE=RelWithDebInfo
%:
	dh $@ --buildsystem=cmake --with ruby
