Source: gz-tools3
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 11),
               cmake,
               gem2deb,
               libbackward-cpp-dev,
               libgz-cmake4-dev,
               pkg-config,
               ruby
XS-Ruby-Versions: all
Vcs-Browser: https://github.com/gazebosim/gz-tools3
Vcs-Git: https://github.com/gazebosim/gz-tools3.git
Standards-Version: 4.5.1
Homepage: http://gazebosim.org/

Package: gz-tools3
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ${misc:Depends}
Conflicts: gazebo (>= 11.0.0),
           gazebo11
Multi-Arch: same
Description: Entry point for using all the suite of Gazebo tools - app
 Gazebo tools provide the gz command line tool that accepts multiple
 subcommands. Each subcommand is implemented in a plugin that belongs to a
 specific Gazebo project.
 .
 Package contains the gz app

Package: libgz-tools3-dev
Architecture: any
Section: libdevel
Depends: cmake,
         gz-tools3,
         libgz-cmake4-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Entry point for using all the suite of Gazebo tools - cmake support
 Gazebo tools provide the gz command line tool that accepts multiple
 subcommands. Each subcommand is implemented in a plugin that belongs to a
 specific Gazebo project.
 .
 Package contains the cmake helpers
