Source: ignition-tools2
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 11),
               cmake,
               dh-exec,
               gem2deb,
               libbackward-cpp-dev,
               ruby,
               pkg-config
XS-Ruby-Versions: all
Vcs-Browser: https://github.com/ignitionrobotics/ignition-tools2
Vcs-Git: https://github.com/ignitionrobotics/ignition-tools2.git
Standards-Version: 4.5.1
Homepage: http://ignitionrobotics.org/

Package: ignition-tools2
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ${misc:Depends}
Breaks: ignition-tools,
        gazebo11
Replaces: ignition-tools,
          gazebo11
Multi-Arch: same
Description: Entry point for using all the suite of Gazebo tools - app
 Gazebo tools provide the gz command line tool that accepts multiple
 subcommands. Each subcommand is implemented in a plugin that belongs to a
 specific Ignition project.
 .
 Package contains the gz app

Package: libignition-tools2-dev
Architecture: any
Section: libdevel
Depends: cmake,
         ignition-tools2,
         ${misc:Depends}
Breaks: libignition-tools-dev
Replaces: libignition-tools-dev
Multi-Arch: same
Description: Entry point for using all the suite of ignition tools - cmake support
 Ignition tools provide the gz command line tool that accepts multiple
 subcommands. Each subcommand is implemented in a plugin that belongs to a
 specific Ignition project.
 .
 Package contains the cmake helpers
